.App {
  text-align: center;
  min-height: 100vh;
  background-color: white;
}


.Header {
 border: 1px solid rosybrown;

}

.Footer {

  border: 1px solid rosybrown;
}

.Home {

  border: 1px solid rosybrown;
}
.Nav {

  border: 1px solid rosybrown;
}

.ArticleList {

  border: 1px solid rosybrown;
}

.TopicList {

  border: 1px solid rosybrown;
}

.Article {

  border: 1px solid rosybrown;
}